<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="fileName" value="chump.log" />
    <property name="defaultPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${fileName}</file>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.conversant.chump" level="DEBUG"/>
    <!--<logger name="org.apache.camel" level="DEBUG" />-->
    <!--<logger name="org.apache.cxf" level="DEBUG" />-->
    <!--<logger name="org.eclipse.jetty" level="DEBUG" />-->
    <!--<logger name="org.springframework" level="DEBUG" />-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>